---
# Scss file for load
---

/* Add personnal font */

@font-face {
    font-family: rpg_font;
    src: url(fonts/Early_GameBoy.ttf);
}

/* Setting base height for HTML */

html{
	height : 100%;
}

/* Divs and text */

#load {
	
	height : 100%;
	overflow : hidden;
	margin : 0;
	padding : 0 20px 0 0;
	vertical-align : middle;
	background : #3366FF;

	h2 {
		margin : 0.3em 0em 0em 1em;
		font-size : 1em;
	}
		
	h3 {
		margin : 0.3em 0em 0em 2em;
		font-size : 0.8em;
	}
	
	#container {
		background : #2E5CE6;
		margin : auto;
		top : 0;
		right : 0;
		bottom : 0;
		left : 0;
		position : absolute;
		border : 5px double #FFFFC4;
		border-radius : 10px;
		height : 100%;
		width : 100%;
		overflow : auto;
	}
	
	.experience {
		height : 45%;
		background : #1E3B93;
		margin : 5px;
		border : 2px solid white;
		border-radius : 5px;
		overflow : hidden;
		font-family : rpg_font;
		font-size : 0.55em;
		color : white;
		
		hr {
			padding: 0;
			height : 5px;
			border: none;
			border-top: medium double #FFFFFF;
			color: #FFFFFF;
			text-align: center;
		}
		
		hr:after {
			content: "ssssss";
			display: inline-block;
			position: relative; 
			top: -0.7em;  
			padding: 0 0.25em;
		}	
	}
	
	.infos {
		color : #669900;
		margin-top : 0.6em;
		margin-left : 1em;
	}
	
	.description {
		margin-left : 5em;
	}
	
	
	/* Hovers */
	
	.experience:hover{
	
		h2 {
			zoom : 110%;
		}
		h3 {
			zoom : 110%;
		}
		
		.description {
			zoom : 110%;
		}
		
		.infos {
			zoom : 110%;
		}
	}
	
	h2:hover {
		color : #FFFF00;
	}
	
	h3:hover {
		color : #FFFF00;
	}
	
	.description:hover {
		color : #FFFF00;
	}
	
	.infos:hover {
		color : #94B84D;
	}
		
	/* Media Queries */
		
	@media handheld, screen and (min-width: 680px) {	
		.experience {
			height : 50%;
		}
		
		#container {
			height : 75%;
			width : 650px;
			overflow : auto;
		}
	}	
	
	@media handheld, screen and (min-height: 800px) {
		h2 {
			font-size : 1.2em;
		}
		
		h3 {
			font-size : 1em;
		}
		
		.experience {
			height : 40%;
			font-size : 0.7em;
		}
	}
}