---
# Scss file for stats
---

/* Add personnal font */

	@font-face {
		font-family: apocalyptic_font;
		src: url(fonts/28_Days_Later.ttf);
	}

	@font-face {
		font-family: lcd_font;
		src: url(fonts/pixelmix.ttf);
	}

	.font_apo {
		font-family : apocalyptic_font;
		color : #B28F00;
		opacity : 0.6;
	}

	.font_lcd {
		font-family : lcd_font;
		color : #52CC52;
	}

/* Setting base height for HTML */

	html{
		height : 100%;
		background : #000000;
	}

/* Divs and text */

	/* General divs */
	#stats {
		height : 1620px;
	}

	#container {
		margin : auto;
		top : 0;
		right : 0;
		bottom : 0;
		left : 0;
		width : 100%;
		height : 100%;
		background:url(../img/fond_fallout_2cell.png);
		background-repeat:no-repeat;
		background-size: 100% 1620px;	
	}

/* Name, Age, Sexe */
	.info{
		display:table-cell;
		position : absolute;
		font-size : 1.4em;
		margin-top : 4px;
	}
	
	#name {
	margin-left : 8%;
	}

	#age {
		margin-left : 45%;
	}

	#sexe {
		margin-left : 73%;
	}

/* 2 Larges col */
	.col {
		width : 100%;
		height : 50%;
	}

/* Player stats */
	#statistiques {
		padding-top : 65px;
		width : 50%;
		margin-left : 6px;
		top : 0;
		right : 0;
		bottom : 0;
		left : 0;
	}

	.statistique {
		font-size : 1.8em;
		margin-bottom : 0.8em;
	}

/* Player activities */
	#loisirs{
		margin-top : 160px;
		margin-left : 10%;
		padding-left : 10px;
	}

	.loisir{
		margin-top : 5px;
		margin-bottom : 6px;
	}

/* Player skills */
	#skills{
		height : 300px;
		margin-left : 16%;
		width : 75%;
		margin-top: 40px;
		font-size : 0.9em;
	}
	
	.skill{
	float:left;
	}
	
	
	.percent{
		float:right;
	}

/* Used to create lines to set each percent in front of their respectiv skills */
	.line{
		overflow:hidden;
	}

/* Media Queries */
	
	/* Short screens and resized navigator */
	@media handheld, screen and (max-height: 700px){
		#container {
			margin-top : 2.5%;
			margin-bottom : 2.5%;
		}
	}
	
	/* Computer screen */
	
	@media handheld, screen and (min-width: 900px) {
	
		#stats{
			height : 100%;	
		}
		
		#container {
			display : flex;
			width : 90%;
			height : 700px;
			position : absolute;
			background:url(../img/fond_fallout_large.png);
			background-size: 100% 100%;
		}
		
		.col {
			width : 50%;
			height : 100%;
		}
		
		#name {
			margin-left : 9%;
		}

		#age {
			margin-left : 27%;
		}

		#sexe {
			margin-left : 40%;
		}
		
		#statistiques {
			margin-left : 6%;
			width : 40%;
		}

		.statistique {
			font-size : 2.2em;
			margin-bottom : 0.2em;
		}
		
		#loisirs{
			margin-top : 120px;
			margin-left : 15%;
		}

		.loisir{
			margin-top : 3px;
			margin-bottom : 3px;
		}
		
		#skills{
			font-size : 0.7em;
			overflow : auto;
		}	
	
		.skill{
			margin-bottom : 4px;
		}
	}	
	
	/* Large screens */
	@media handheld, screen and (min-width: 1080px) {
		#stats{
			background-size: 70% 600px;
		}
		
		#container {
			width : 70%;		
		}
	}
	
	