---
# Scss file for succes
---

// Importation des dépendanes
@import "/css/libs/purecss.min.css";
@import "/css/libs/purecss-grids-responsive.min.css";
@import "/css/libs/magnific-popup.css";
@import "/css/fixes.css";

/* Add personnal font */

@font-face {
    font-family: tetris_font;
    src: url(fonts/UASQUARE.TTF);
}

@font-face {
    font-family: cube_font;
    src: url(fonts/FORCED_SQUARE.TTF);
}

// Hauteur et largeur d'un carré minimum
$item-width: 8em;
$item-height: 8em;

#succes{
	
	.pure-u-1{
		margin-left : 4%;
		overflow : hidden;
	}
	
	.pure-g{
		div {
			min-height : 0%;
		}
	}

	#container{
		max-height : 1500px;
		overflow : hidden;
	}
			
	.zoom-anim-dialog{
			max-height : 100%;
			height : 100%;
			margin : 0 1% 0 1%;
			max-width : 100%;
			background-color : #AD957D;
			border : 3px double #151515;
	}
	
    // couleur de fond de la page
    background-color: #002F2F;

    // Hauteur et largeur d'une case (synchronisé avec celle d'un carré minimum)
    .grid-sizer {
        width: $item-width;
        height: $item-height;
    }
	
    // Css propre à un item de base
    .item {
        width: $item-width;
        height: $item-height;
        border: 4px solid #333;
        border-color: hsla(0, 0%, 0%, 0.3);
        background: #9C0;
        box-sizing: border-box;
        text-decoration: none;
        color: black;
		text-align : center;
		font-family : cube_font;
		
		
        // & = moi-même
        &:hover {
            opacity: 0.8;
        }

        // donc moi-même avec la classe w1 ou w1.h1 en plus
		
        &.w1 {
            width: $item-width*1;
        }
		
        &.w2 {
            width: $item-width*2;
        }
		
		&.h1 {
			height: $item-height*1;
			p{	
				font-size : 0.8em;
				width : 8em;
				height : 3.8em;
				margin : 6em 0 0 -1.75em;
				-moz-transform: rotate(-45.0deg) translate(50%,0);  /* FF3.5+ */
				-o-transform: rotate(-45.0deg) translate(50%,0);  /* Opera 10.5 */
				-webkit-transform: rotate(-45.0deg) translate(50%,0);  /* Saf3.1+, Chrome */
			}
		}

        &.h2 {
            height: $item-height*2;
            background: #66FFFF;
			
			p{
				width : 16em;
				height : 3.8em;
				margin : 12.5em 0 0 -5em;
				-moz-transform: rotate(-45.0deg) translate(50%,0);  /* FF3.5+ */
				-o-transform: rotate(-45.0deg) translate(50%,0);  /* Opera 10.5 */
				-webkit-transform: rotate(-45.0deg) translate(50%,0);  /* Saf3.1+, Chrome */
			}
        }
		
		&.h4{
			height: $item-height*4;
            background: #FF6600;
			
			p{	
				width : 32em;
				height : 8em;
				margin : 27.75em 0 0 -8.75em;
				-moz-transform: rotate(-90.0deg) translate(50%,0);  /* FF3.5+ */
				-o-transform: rotate(-90.0deg) translate(50%,0);  /* Opera 10.5 */
				-webkit-transform: rotate(-90.0deg) translate(50%,0);  /* Saf3.1+, Chrome */
			}
		}
		
		&.z1, &.z2 {
			visibility : hidden;
		}	
    }
	
	.pro {
	
		font-family : tetris_font;

		
		&.title{
			font-size : 2em;
		}
		&.type{
			font-size : 1.6em;
		}
		&.time{
			font-size : 1.1em;
		}
		&.descri{
			font-size : 1.2em;
		}
		&.vid{
			font-size : 1.1em;
		}
		&.weblink{
			font-size : 1.4em;
		}	
	}
}
	/* Media Queries */
		
	@media handheld, screen and (min-width: 680px) {
	
	#succes{
	
		.pure-u-1{
			margin-left : 0;
			overflow : normal;
		}
	
		.pure-g {
			div {
				min-height : 100%;
			}
		}
		
		.zoom-anim-dialog{
			height : 20%;
			max-width : 60%;
			margin-left : auto;
			margin-right : auto;	
		}
		
		.item{
			&.z1 {
				background : #7E7E7E;
				visibility : visible;
			}
			
			&.z2 {
				background : #585858;
				visibility : visible;
			}
		}
	}
	}

