---
# Scss file for succes
---
@import "/css/libs/purecss.min.css";
@import "/css/libs/purecss-grids-responsive.min.css";
@import "/css/libs/magnific-popup.css";
@import "/css/fixes.css";

$item-width: 8em;
$item-height: 8em;

#succes{
    background-color: #002F2F;

    .grid-sizer {
        width: $item-width;
        height: $item-height;
    }

    .item {
        width: $item-width;
        height: $item-height;
        border: 4px solid #333;
        border-color: hsla(0, 0%, 0%, 0.3);
        background: #9C0;
        box-sizing: border-box;
        text-decoration: none;
        color: black;

        &:hover {
            opacity: 0.8;
        }

        &.w1, &.w1.h1 {
            width: $item-width*1;
            background: #9C0;
        }
        &.w2, &.w2.h1 {
            width: $item-width*2;
            background: #C09;
        }

        &.h1, &.h1.w1 {
            height: $item-height*1;
            background: #9C0;
        }
        &.h2, &.h2.w1 {
            height: $item-height*2;
            background: #C90;
        }

        &.h2.w2 {
            background: #0C9;
            h1 {
                font-size: 1.8em;
            }
        }
		
		&.h3, &.h3.w1 {
			height: $item-height*3;
            background: #FF6600;
		}

        h1 {
            font-size: 1em;
        }

    }
}
