---
# The 'stats' page
---
{% assign profile = site.data.profile %}
{% assign statistiques = site.data.stats %}
{% assign skills = site.data.skills %}


<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>Statistiques</title>

		<!-- CSS -->
		<link rel="stylesheet" href="/css/stats.css">
	</head>
	
	<!-- General containers -->
    <body id="stats">
		<div id="container">
			<!-- Left column -->
			<div class="col">
				<!-- Age, Name, Sexe -->
				<div id="name" class="info font_apo"> {{ profile.firstname }} </div>
				<div id="age" class="info font_apo"> {{ profile.age }} </div>
				<div id="sexe" class="info font_apo"> {{ profile.sexe }} </div>
				<!-- Player stats -->				
				<div id="statistiques" class="font_apo">
					{% for statistique in statistiques %}
						<div class="statistique"><a class="info_stats">{{ statistique.short }}<span> {{ statistique.name }} </span></a></div>
					{% endfor %}
				</div>
				<!-- Player activites -->
				<div id="loisirs" class="font_lcd">
					<div class="line">
						<div class="loisir g"> Musique </div>
						<div class="loisir d"> Jeux video </div>
					</div>
					<div class="line">
						<div class="loisir g"> Jeux de role </div>
						<div class="loisir d"> Jeux de societe </div>
					</div>
					<div class="line">
						<div class="loisir g"> Cinema </div>
						<div class="loisir d"> Folklore et cultures </div>
					</div>
					<div class="line">
						<div class="loisir g"> E-Sport </div>
					</div>
				</div>
			</div>
			<!-- Right column -->
			<div class="col">
				<!-- Player skills -->
				<div id="skills" class="font_lcd">
					{% for skill in skills %}
						<div class="line">
							<div class="g"> {{ skill.name }} </div> <div class="d"> {{ skill.percent }}% </div>
						</div>
					{% endfor %}
				</div>
				<!-- Bottom button -->
				<div class="bot_button font_apo">
					<a class="bot_button_img"><a>
					<a class="bot_button_img"><a>
					<a class="bot_button_img"><a>
				</div>
			</div>
		</div>
		
		<script data-main="/js/stats" src="/js/libs/require.min.js"></script>
    </body>
</html>
